/*
 * spa.shell.css
 * Shell styles
*/

#spa{
	position : absolute;
	top      : 0;
	left     : 0;
	right    : 0;
	bottom   : 0;
}

header{
	position   : absolute;
	top        : 0;
	left       : 0;
	right      : 0;
	height     : 50px;
	padding    : 0 10px;
	color: #fff !important;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
}

header .logo h1{
    /* color: #FFFFFF; */
    font-size: 18px;
    font-weight: 600;
    margin: 0 0;
    padding: 0 0 0 25px;
}

header .nav a{
	color: #fff;
	height: 50px;
	display: flex;
	align-items: center;
}

header .nav a:hover{
	color : #fff;
	background : #000;
	background: rgba(0, 0, 0, 0.6);
}

header .nav a i{
	font-size : 25px;
}

header .nav .dropdown-menu{
	padding: 20px 0 0 0 !important;
	/* border-radius: 0; */
}

.dropdown .menu{
	position: relative;
	width: 600px;
}

.menu ul {
	position: relative !important;
	list-style: none;
	margin: 5px;
	padding: 0;
	border: none !important;
}

.menu ul li{
	margin: 0;
	padding: 0;
	border: none !important;
}


.dropdown .title {
    font-weight: 400;
    color: #393A3D;
    padding: 10px 34px 15px 34px;
    white-space: normal;
    line-height: 28px;
}

.dropdown .subTitle {
    font-weight: 600;
    color: #393A3D;
    padding-left: 15px;
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}

div.table{
	display: table;
	width: auto;
	table-layout: fixed;
	box-sizing: border-box;
	width: 100%;
}

div.table .tableRow {
    display: table-row;
    vertical-align: top;
}

div.table .tableCell {
    display: table-cell;
    vertical-align: top;
    padding-left: 19px;
}

header .nav .dropdown-menu a{
	font-size: 14px;
	color : #005A9E;
	background : #fff;
	height: 25px;
	padding: 10px 10px;
}

header .nav .dropdown-menu a:hover{
    background-color: #C7E0F4;
    color: white;
    font-size: 14px;
	height: 25px;
	padding: 10px 10px;
}

.content{
	position   : absolute;
	top        : 50px;
	left       : 0;
	right      : 0;
	bottom     : 0;
	/* margin-top : 20px; */
}

nav,main{
	position : absolute;
	top      : 0;
	bottom   : 0;
}

nav{
	left       : 0;
	width      : 200px;
	overflow-y : auto;
}

nav ul{
	padding: 20px 0;
}

nav li{
	border-left: 3px solid transparent; 
}

nav li a{
	color: #333;
	padding: 0.8rem 0 1rem 30px !important;
}

nav li.active{
	border-left: 5px solid #28a745;
	/* background-color: #28a745; */
	color: white;
	font-size: 15px;
}

nav li.active a{
	color: #000;
	background-color: rgba(0,0,0,0.1);
}

nav li a:hover{
	color: #000;
	background-color: rgba(0,0,0,0.1);
}

main{
	left       : 200px;
	right      : 0;
	overflow-y : scroll;
	padding: 0 20px 0 20px;
}


.flash-message{
	text-align : center;
}

.bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	margin-bottom: 20px;
	/* padding: 0 30px; */
}

.headerbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	margin-bottom: 20px;
}

.footerbar{
	display: flex;
	align-items: right;
	justify-content: space-between;
	height: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.bar .title{
	font-weight: 200;
	font-size: 25px !important;
	/* color: #0078D7; */
	margin: 0 !important;
}

.tabbable{
	margin-top: 20px;
}
.tabbable .tab-content{
	padding:  30px;
	background: #fff;
	border: 1px solid #fff;
}

.panel .main{
	padding: 25px 0;
}

.last{
	text-align: right;
}

.modal{
	display: block;
	background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.panel{
	position   : absolute;
	top        : 0;
	left       : 0;
	right      : 0;
	bottom     : 0;
	padding: 20px 25px;
}

.panel table{
	background: #fff;
}

table th{	
	text-transform: uppercase;
}


.empty-list{
	height: 300px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #666666;
}

.empty-list h3{
	color: #000;
	font-size: 32px !important;
}


.icon-link{
	padding: 10px;
}

.card{
	margin: 15px 0;
}

.form-control-static{
	padding: 10px 0;
	margin: 0 !important;
}