.spa-extractor{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

.spa-extractor-head{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}
.spa-extractor-nav{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
}
.spa-extractor-main{
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.spa-extractor-main-sort{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
}
.spa-extractor-main-list{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}