<div class="panel" ng-show="$ctrl.list.length > 0">
	<div class="bar">
		<h3 class="title">Ventes</h3>
		<div>
			<a class="btn btn-success" ng-click="$ctrl.editMode = true" href="">Nouvelle vente</a>
		</div>
	</div>
	<div class="row">
	  <div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	      	<h3>TOTAL</h3>
			<span>{{$ctrl.list | sumOfValue:'amount' | number}} F.CFA</span>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	      	<h3>Impayé</h3>
			<span>{{$ctrl.list | sumOfValue:'balance' | number}} F.CFA</span>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	        <h3>Payé</h3>
			<span>{{$ctrl.list | sumOfValue:'paid' | number}} F.CFA</span>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row mb-2">
		<div class="col-4">
			<input class="form-control" type="text" placeholder="Search a sale" ng-model="$ctrl.search">
		</div>
	</div>
	<div id="exportable">
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>NO.</th>
					<th>Client</th>
					<th>Reste à payer</th>
					<th>Montant</th>
					<th>Status</th>
					<th class="last">
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in $ctrl.list | filter:$ctrl.search">
					<td>{{c.created_at}}</td>
					<td>{{c.number}}</td>
					<td>
						{{c.customer_name}}
					</td>
					<td>{{c.balance | number}} F.CFA</td>
					<td>{{c.amount | number}} F.CFA</td>
					<td>
						<b ng-show="{{c.status==0}}">En attente</b>
						<b ng-show="{{c.status==1}}">Payé</b>
						<b ng-show="{{c.status==2}}">Annulé</b>
						<b ng-show="{{c.status==3}}">Partiel</b>
					</td>
					<td class="last">
						<a href="#/sale/{{c._id}}">
							<span ng-show="{{c.status==0}}">Modifier</span>
							<span ng-show="{{c.status!=0}}">Details</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel" ng-show="$ctrl.list.length == 0">
	<div class="empty-list">
		<h3 class="text-center">Pas de vente</h3>
		<a class="btn btn-success" ng-click="$ctrl.editMode = true" href="">Nouvelle vente</a>
	</div>
</div>

<div ng-switch="$ctrl.editMode">
	<div ng-switch-when="true">
		<sale-customers 
		on-close="$ctrl.editMode = false"></sale-customers>
	</div>
</div>

<div ng-switch="$ctrl.detailMode">
	<div ng-switch-when="true">
		<sale-detail 
		sale="$ctrl.sale" 
		on-close="$ctrl.detailMode = false"
		on-edit="$ctrl.editSale( sale )"></sale-detail>
	</div>
</div>