<table ng-show="$ctrl.list.length > 0" class="table">
	<thead>
		<tr>
			<th>Date</th>
			<th>NO.</th>
			<th>Supplier</th>
			<th>Balance</th>
			<th>Amount</th>
			<th>Status</th>
			<th class="last">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="c in $ctrl.list | filter:$ctrl.search">
			<td>{{c.created_at}}</td>
			<td>{{c.number}}</td>
			<td>
				<a href="" ng-click="$ctrl.gotoExpense( c )">	
					{{c.supplier_name}}
				</a>
			</td>
			<td>{{c.balance}} F.CFA</td>
			<td>{{c.amount}} F.CFA</td>
			<td>
				<b ng-show="c.status==0">Pending</b>
				<b ng-show="c.status==1">Paid</b>
				<b ng-show="c.status==2">Cancelled</b>
			</td>
			<td class="last">
				<a href="#/expense/{{c._id}}">
					<span ng-show="c.status==0">Proceed</span>
					<span ng-show="c.status==1">Details</span>
					<span ng-show="c.status==2">Dismissed</span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div ng-show="$ctrl.list.length == 0">
	<div class="empty-list text-center">
		<h3 class="text-center">No expenses</h3>
	</div>
</div>