<div>
	<div ng-show="$ctrl.list.length > 0">
		<div class="row">
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		      	<h3>Outcoume</h3>
				<span>{{$ctrl.list | filter:{status:0} | sumOfValue:'balance' | number}} F.CFA</span>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		        <h3>Paid</h3>
				<span>{{$ctrl.list | filter:{status:1} | sumOfValue:'amount' | number}} F.CFA</span>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row pb-3">
			<div class="col-sm-6">
				<input class="form-control" type="text" placeholder="Search a expense" ng-model="$ctrl.search.$">
			</div>
			<div class="col-sm-6 d-flex justify-content-end">
				<select class="form-control" ng-model="$ctrl.search.status">
					<option value="">All</option>
					<option value="0">Pending</option>
					<option value="1">Paid</option>
					<option value="2">Cancelled</option>
					<option value="3">Partiel</option>
				</select>
			</div>
		</div>
		<div id="exportable">
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>NO.</th>
						<th>Supplier</th>
						<th>Balance</th>
						<th>Amount</th>
						<th>Status</th>
						<th class="last">
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="c in $ctrl.list | filter:$ctrl.search">
						<td>{{c.created_at}}</td>
						<td>{{c.number}}</td>
						<td>
							{{c.supplier_name}}
						</td>
						<td>{{c.balance | number}} F.CFA</td>
						<td>{{c.amount | number}} F.CFA</td>
						<td>
							<b ng-show="{{c.status==0}}">Pending</b>
							<b ng-show="{{c.status==1}}">Paid</b>
							<b ng-show="{{c.status==2}}">Cancelled</b>
							<b ng-show="{{c.status==3}}">Partiel</b>
						</td>
						<td class="last">
							<a href="#/message/expense/{{c._id}}">
								<span ng-show="{{c.status==0}}"> Make message</span>
								<span ng-show="{{c.status==1}}"> Details</span>
								<span ng-show="{{c.status==2}}"> Cancelled</span>
								<span ng-show="{{c.status==3}}"> Details</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div ng-show="$ctrl.list.length == 0">
		<div class="empty-list">
			<h3 class="text-center">No expenses</h3>
		</div>
	</div>
</div>
