<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Information client</h5>
        <button type="button" class="close" ng-click="$ctrl.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
	      <form name="form" novalidate>
			<div class="row">
		        <div class="col-md-6 mb-3">
		          <label for="first_name">Nom</label>
		          <input type="text" class="form-control" ng-model="$ctrl.customer.first_name">
		        </div>
		        <div class="col-md-6 mb-3">
		          <label for="last_name">Prénoms</label>
		          <input type="text" class="form-control" ng-model="$ctrl.customer.last_name">
		        </div>
	      	</div>
			<div class="mb-3">
				<label for="name">Raison sociale<span class="text-danger">*</span></label>
				<input class="form-control" type="text" name="name" ng-model="$ctrl.customer.name" required>
				<div ng-show="form.name.$touched && form.name.$invalid">
					<span class="text-danger" ng-show="form.name.$error.required">Raison sociale est requis</span>
				</div>
			</div>
			<div class="mb-3">
				<label for="ncc">NCC<span class="text-danger"></span></label>
				<input class="form-control" type="text" name="ncc" ng-model="$ctrl.customer.ncc">
				<div ng-show="form.ncc.$touched && form.ncc.$invalid">
					<span class="text-danger" ng-show="form.ncc.$error.required">Client ncc est requis</span>
				</div>
			</div>
			<div class="mb-3">
				<label for="phone">Telephone <span class="text-danger"></span></label>
				<input type="text" class="form-control" name="phone" ng-model="$ctrl.customer.phone" maxlength="8" required>
				<div ng-show="form.phone.$touched && form.phone.$invalid">
					<span class="text-danger" ng-show="form.phone.$error.required">Téléphone est requis</span>
				</div>
			</div>
			<div class="mb-3">
				<label for="email">Email <span class="text-danger"></span></label>
				<input type="email" class="form-control" name="email" ng-model="$ctrl.customer.email">
				<div ng-show="form.email.$touched && form.email.$invalid">
					<span class="text-danger" ng-show="form.email.$error.required">email adresse est requis</span>
					<span class="text-danger" ng-show="form.email.$error.email">Une email adresse valide est requise</span>
				</div>
			</div>
			<div class="row">
		        <div class="col-md-6 mb-3">
		          <label for="entry_date">Date d'hadésion</label>
		          <input class="form-control"
                       ng-model="$ctrl.customer.entry_date"
                       ng-model-options="{ updateOn: 'blur' }"
                       placeholder="Select a min date..."
                       moment-picker="$ctrl.customer.entry_date"
                       format="DD-MM-YYYY">
		          <!-- <input type="text" class="form-control" ng-model="$ctrl.customer.entry_date"> -->
		        </div>
		        <div class="col-md-6 mb-3">
		          <label for="entry_number">Numéro dadhésion</label>
		          <input type="text" class="form-control" ng-model="$ctrl.customer.entry_number">
		        </div>
	      	</div>
	      	<div class="mb-3">
				<label for="service">Service d'assiette <span class="text-danger"></span></label>
				<select class="form-control" name="service" ng-model="$ctrl.customer.service">
					<option value="">Choisir un service</option>
					<option value="YOPOUGON 1">YOPOUGON 1</option>
					<option value="YOPOUGON 2">YOPOUGON 2</option>
					<option value="YOPOUGON 3">YOPOUGON 3</option>
					<option value="YOPOUGON 4">YOPOUGON 4</option>
					<option value="YOPOUGON 5">YOPOUGON 5</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="regime">Régime d'imposition <span class="text-danger"></span></label>
				<select class="form-control" name="regime" ng-model="$ctrl.customer.regime">
					<option value="">Choisir un régime</option>
					<option value="IMPOT SYNTHETIQUE">IMPOT SYNTHETIQUE</option>
					<option value="REEL SIMPLIFIE">REEL SIMPLIFIE</option>
				</select>
			</div>
			<div class="mb-3">
		        <label for="entry_date">Activité</label>
		        <input type="text" class="form-control" ng-model="$ctrl.customer.activity">
	      	</div>
	      	<div class="mb-3">
		        <label for="entry_date">Localisation</label>
		        <input type="text" class="form-control" ng-model="$ctrl.customer.location">
	      	</div>
	      	<div class="mb-3">
				<label for="accountant">Comptable <span class="text-danger"></span></label>
				<select class="form-control" name="accountant" ng-model="$ctrl.customer.created_by">
					<option value="">Choisir un service</option>
					<option ng-repeat="u in $ctrl.users" value="u._id">{{u.name}}</option>
				</select>
			</div>
		</form>

      </div>
      <div class="modal-footer">
        <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="$ctrl.save()">Enregistrer</button>
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.close()">Annuler</button>
      </div>
    </div>
  </div>
</div>