<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Item information</h5>
        <button type="button" class="close" ng-click="$ctrl.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form name="form" novalidate>
			<div class="mb-3">
				<label>Nom</label>
				<input class="form-control" type="text" name="name" ng-model="$ctrl.item.name" required>
				<div ng-show="form.name.$touched && form.name.$invalid">
					<span class="text-danger" ng-show="form.name.$error.required">Item name is required</span>
				</div>
			</div>
			<div class="mb-3">
				<label>Description</label>
				<textarea class="form-control" name="description" ng-model="$ctrl.item.description"></textarea>
			</div>
			<div class="mb-3">
				<label>Price</label>
				<input class="form-control" type="number" name="price" ng-model="$ctrl.item.price" required>
				<div ng-show="form.price.$touched && form.price.$invalid">
					<span class="text-danger" ng-show="form.price.$error.required">Item price is required</span>
				</div>
			</div>
			<div class="mb-3">
				<label>Type</label>
				<select class="form-control" ng-model="$ctrl.item.type" required>
					<option value="">Choisir un type</option>
					<option value="service">Service</option>
					<option value="produit">Produit</option>
				</select>
				<div ng-show="form.type.$touched && form.type.$invalid">
					<span class="text-danger" ng-show="form.type.$error.required">Item type is required</span>
				</div>
			</div>
			<div class="row" ng-show="$ctrl.item.type == 'produit'">
				<div class="col-md-6 mb-3">
					<label>Cost</label>
					<input class="form-control" type="number" name="cost" ng-model="$ctrl.item.cost">
				</div>
				<div class="col-md-6 mb-3">
					<label>Initial Quantity</label>
					<input class="form-control" type="number" name="quantity" ng-model="$ctrl.item.quantity">
				</div>
			</div>
		</form>

      </div>
      <div class="modal-footer">
        <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="$ctrl.save()">Save changes</button>
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.close()">Cancel</button>
      </div>
    </div>
  </div>
</div>