<div class="panel">
	<div class="bar">
		<div>
			<h3 class="title">{{$ctrl.expense.supplier.name}}</h3>
			<a href="#/expense">retour à la liste</a>
		</div>
		<div class="d-flex align-items-center">
			<h3 class="text-primary" ng-show="$ctrl.expense.status == 1">PAYE</h3>
			<h3 class="text-danger" ng-show="$ctrl.expense.status == 2">SUPPRIME</h3>
            <h3 class="text-danger" ng-show="$ctrl.expense.status == 0">{{$ctrl.expense.amount | number}} F.CFA</h3>
		</div>
		<div class="d-flex align-items-center">
			<button class="btn btn-secondary" ng-click="$ctrl.print()">Print</button>
			<a class="btn btn-danger" ng-show="$ctrl.expense.status == 0" href="#/expense/{{$ctrl.expense._id}}/supplier/{{$ctrl.expense.supplier_id}}">Modifier</a>
		</div>
	</div>
	<div class="main">
		<div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product / Service</th>
                        <th>Description</th>
                        <th>Quantité</th>
                        <th>Prix ( F.CFA )</th>
                        <th>Total ( F.CFA )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.expense.items">
                        <td>
                        	<label>{{item.item_name}}</label>
                        </td>
                        <td>
                        	<label>{{item.description}}</label>
                        </td>
                        <td>
                        	<label>{{item.quantity}}</label>
                        </td>
                        <td>
                        	<label>{{item.cost}}</label>
                        </td>
                        <td>
                            {{item.quantity * item.cost | number}}
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="3"></td>
                    	<td>Total</td>
                    	<td>{{$ctrl.expense.amount | number}} F.CFA</td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>